<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>HardaGroup ERP</title>

    <meta name="keywords" content="HardaGroup ERP">
    <meta name="description" content="HardaGroup ERP">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap-table.css">
    <link rel="stylesheet" href="~/Content/customer-bootstrap-table.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css">

    <!--Bootstrap Editable-->
    <link rel="stylesheet" href="~/Scripts/bootstrap-table/xeditable/css/bootstrap-editable.css"/>

    <link href="~/Content/font-awesome.min.css-v=4.4.0.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/Common.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.form.js"></script>

    <script src="~/Scripts/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/bootstrap-table/customer-bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/customer-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/layer/layer.min.js"></script>
    
    <!--X-Editable-->
    <script src="~/Scripts/bootstrap-table/xeditable/js/bootstrap-editable.min.js"></script>
    <!--Bootstrap-table-editable extension-->
    <script src="~/Scripts/bootstrap-table/editable/bootstrap-table-editable.min.js"></script>
    <!--Bootstrap Table Filter Control-->
    <script src="~/Scripts/bootstrap-table/filter-control/bootstrap-table-filter-control.js"></script>
    <!--Bootstrap Table Export-->
    <script src="~/Scripts/bootstrap-table/export/bootstrap-table-export.min.js"></script>
    <script src="~/Scripts/bootstrap-table/export/tableExport.min.js"></script>
    <script src="~/Scripts/sha256.js"></script>
    <script src="~/Scripts/jquery.base64.js"></script>

    @RenderBody()
    
    
</body>

</html>