<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>HardaGroup ERP</title>

    <meta name="keywords" content="HardaGroup ERP">
    <meta name="description" content="HardaGroup ERP">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css-v=4.4.0.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/Common.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <script src="~/Scripts/jquery.min.js" tppabs="http://www.zi-han.net/theme/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Scripts/bootstrap.min.js" tppabs="http://www.zi-han.net/theme/hplus/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js" tppabs="http://www.zi-han.net/theme/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js" tppabs="http://www.zi-han.net/theme/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/plugins/layer/layer.min.js" tppabs="http://www.zi-han.net/theme/hplus/js/plugins/layer/layer.min.js"></script>
    <script src="~/Scripts/hplus.js" tppabs="http://www.zi-han.net/theme/hplus/js/hplus.min.js?v=4.0.0"></script>
    <script type="text/javascript" src="~/Scripts/contabs.js" tppabs="http://www.zi-han.net/theme/hplus/js/contabs.min.js"></script>

    @RenderBody()
    
    
</body>

</html>