<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--供应商菜单-->
  <treenode text="供应商树形菜单" role="supply" root="true">
    <treenode text="供应商菜单1" leaf="false" expanded="true" iconCls="fa fa-home">

      <treenode id="tab1" text="Tab页面1" leaf="true" href="/Home/Contact" icon="../images/extjs4/book.gif"></treenode>
      <treenode id="tab2" text="Tab页面2" leaf="true" href="/Home/Contact" iconCls="Bell"></treenode>
      <treenode id="tab3" text="Tab页面3" leaf="true" href="/Home/Contact" iconCls="bell"></treenode>

    </treenode>
    <treenode text="供应商菜单2" leaf="false" expanded="false" iconCls="fa fa-home">
      <treenode id="tab4" text="Tab页面4" leaf="true" href="/Home/Contact"></treenode>
    </treenode>
    <treenode text="供应商菜单3" leaf="false" expanded="false" iconCls="fa fa-home">
      <treenode id="tab5" text="Tab页面5" leaf="true" href="/Home/Contact"></treenode>
      <treenode id="tab6" text="Tab页面6" leaf="true" href="/Home/Contact"></treenode>

    </treenode>
  </treenode>

  <!--管理员菜单-->
  <treenode text="管理员树形菜单" role="admin" root="true" >
    <treenode text="管理员菜单1" leaf="false" expanded="true" iconCls="fa fa-home">

      <treenode id="tab1" text="Tab页面1" leaf="true" href="/Home/Contact"></treenode>
      <treenode id="tab2" text="Tab页面2" leaf="true" href="/Home/Contact"></treenode>

    </treenode>
    <treenode text="管理员菜单2" leaf="false" expanded="false" iconCls="fa fa-home">
      <treenode id="tab4" text="Tab页面4" leaf="true" href="/Home/Contact"></treenode>
    </treenode>
    <treenode text="管理员菜单3" leaf="false" expanded="false" iconCls="fa fa-home">
      <treenode id="tab5" text="Tab页面5" leaf="true" href="/Home/Contact"></treenode>
      <treenode id="tab6" text="Tab页面6" leaf="true" href="/Home/Contact"></treenode>

    </treenode>
  </treenode>
</configuration>
