<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--供应商菜单-->
  <treenode text="供应商树形菜单" role="supply" root="true">
    <treenode text="供应商菜单1" leaf="false" expanded="true" iconCls="fa fa-home">

      <treenode id="tab1" text="Tab页面1" leaf="true" href="/Home/Contact" icon="../images/extjs4/book.gif"></treenode>
      <treenode id="tab2" text="Tab页面2" leaf="true" href="/Home/Contact" iconCls="Bell"></treenode>
      <treenode id="tab3" text="Tab页面3" leaf="true" href="/Home/Contact" iconCls="bell"></treenode>

    </treenode>
    <treenode text="供应商菜单2" leaf="false" expanded="false" iconCls="fa fa-home">
      <treenode id="tab4" text="Tab页面4" leaf="true" href="/Home/Contact"></treenode>
    </treenode>
    <treenode text="供应商菜单3" leaf="false" expanded="false" iconCls="fa fa-home">
      <treenode id="tab5" text="Tab页面5" leaf="true" href="/Home/Contact"></treenode>
      <treenode id="tab6" text="Tab页面6" leaf="true" href="/Home/Contact"></treenode>

    </treenode>
  </treenode>

  <!--管理员菜单-->
  <treenode text="管理员树形菜单" role="admin" root="true" >
    <treenode text="用户管理" leaf="false" expanded="true" iconCls="fa fa-home">

      <treenode id="usertype" text="用户类别" leaf="true" href="/UserManage/UserType/Index"></treenode>
      <treenode id="tab2" text="Tab页面2" leaf="true" href="/Home/Contact"></treenode>

    </treenode>
    <treenode text="管理员菜单2" leaf="false" expanded="false" iconCls="fa fa-home">
      <treenode id="tab4" text="Tab页面4" leaf="true" href="/Home/Contact"></treenode>
    </treenode>
    <treenode text="管理员菜单3" leaf="false" expanded="false" iconCls="fa fa-home">
      <treenode id="tab5" text="Tab页面5" leaf="true" href="/Home/Contact"></treenode>
      <treenode id="tab6" text="Tab页面6" leaf="true" href="/Home/Contact"></treenode>
      <treenode id="tab7" text="Tab页面5" leaf="true" href="/Home/Contact"></treenode>
      <treenode id="tab8" text="Tab页面6" leaf="true" href="/Home/Contact"></treenode>
      <treenode id="tab9" text="Tab页面5" leaf="true" href="/Home/Contact"></treenode>
      <treenode id="tab10" text="Tab页面6" leaf="true" href="/Home/Contact"></treenode>
    </treenode>
  </treenode>

  <!--财务菜单-->
  <treenode text="财务树形菜单" role="finance" root="true" >
    <treenode id="producetable" text="月生产成本表" leaf="true" iconCls="fa fa-home" href="/Finance/MonthCostProduction/Index"></treenode>
    <treenode id="producetable-level1" text="月生产成本表(一级)" leaf="true" iconCls="fa fa-home" href="/Finance/MonthCostProduction/IndexLevel1"></treenode>
    <treenode id="actproducetable" text="实际成本" leaf="true" iconCls="fa fa-home" href="/Finance/MonthCostProduction/IndexAct"></treenode>

    <treenode text="菜单2" leaf="false" expanded="false" iconCls="fa fa-home">
      <treenode id="tab4" text="Tab页面4" leaf="true" href="/Home/Contact"></treenode>
    </treenode>

  </treenode>
</configuration>
