@using HardaGroup.ERP.Models;
@using HardaGroup.ERP.Utility;
@{
    //获取当前用户信息
    var loginUser = (LoginUser)Session[Common.SessionLoginUser];

}
<style>
    .setpassword {
        margin-top: 50px;
    }
</style>
<div class="container setpassword">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-4 col-is-3 col-sm-4 col-md-2 col-lg-2 control-label">
                <label class="customer-content-sm">当前密码：</label>
            </div>
            <div class="col-xs-8 col-is-9 col-sm-6 col-md-4 col-lg-4">
                <input type="password" id="password" name="Password" class="input-large-full" placeholder="当前密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 col-is-3 col-sm-4 col-md-2 col-lg-2 control-label">
                <label class="customer-content-sm">新密码：</label>
            </div>
            <div class="col-xs-8 col-is-9 col-sm-6 col-md-4 col-lg-4">
                <input type="password" id="newpassword" name="NewPassword" class="input-large-full" placeholder="新密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 col-is-3 col-sm-4 col-md-2 col-lg-2 control-label">
                <label class="customer-content-sm">确认密码：</label>
            </div>
            <div class="col-xs-8 col-is-9 col-sm-6 col-md-4 col-lg-4">
                <input type="password" id="confirmpassword" name="ConfirmPassword" class="input-large-full" placeholder="确认密码">
            </div>
        </div>
        <div class="form-group">

            <div class="col-xs-12 col-is-12 col-sm-10 col-md-6 col-lg-6 text-right">
                <input type="button" id="btnChangePassword" class="btn btn-success" value="保 存">
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){

        $("#btnChangePassword").click(function () {

            var username = '@loginUser.UserName';

            //密码进行hash加密
            var password = $("#password").val();
            var newpassword = $("#newpassword").val();
            var confirmpassword = $("#confirmpassword").val();

            if (password == null || password == "") {
                layer.alert("请输入当前密码", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return false;
            }
            if (newpassword == null || newpassword == "") {
                layer.alert("请输入新密码", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return false;
            }
            if (confirmpassword == null || confirmpassword == "") {
                layer.alert("请再次输入新密码", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return false;
            }
            if(newpassword != confirmpassword)
            {
                layer.alert("新密码与确认密码不匹配", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return false;
            }

            //对密码进行客户端加密
            var clientSalt = username + '@Common.Password_Client_Salt';
            var hashPassword = sha256_digest(password + clientSalt);
            var base64HashPassword = $.base64.btoa(hashPassword);

            var obj = {
                "Password": base64HashPassword,
                "NewPassword": newpassword,
                "ConfirmPassword": confirmpassword
            };

            $.ajax({
                type: "POST",
                url: "/Account/ChangePassword",
                data: obj,
                dataType: "json",
                async: false,   //同步
                success: function (message) {
                    if (message.Success)
                    {
                        layer.confirm('密码修改成功，请重新登录', {
                            btn: ['重新登录'] //按钮
                        }, function () {
                            top.location.href = "/Home";
                        });



                    } else {
                        layer.alert(message.Content, {
                            skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                        });
                    }
                }
            });

        });
    });
</script>
